@model PlusDashData.Data.ViewModels.Accounts.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}
<div class="Content-part">
    <main role="main" class="wrapper d-flex h-100 align-items-center justify-content-center flex-nowrap">
        <div class="container my-auto py-2" style="height: 370px">
            <div class="auth-form border border-dark shadow rounded mx-auto col-6" style="min-width: 260px;">
                <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" autocomplete="off" novalidate>
                    <div class="validation mt-4" asp-validation-summary="ModelOnly"></div>
                    <ul class="nav d-flex flex-nowrap pt-3">
                        <li class="nav-item border-bottom flex-fill text-center m-3 my-2">
                            <span class="nav-link active bg-secondary text-white">
                                Вход
                            </span>
                        </li>
                        <li class="flex-fill text-center nav-item border-bottom m-3 my-2">
                            <a class="nav-link text-dark" asp-action="Registration" asp-controller="Pages">
                                Регистрация
                            </a>
                        </li>
                    </ul>

                    <div class="d-flex flex-nowrap">
                        <div class="flex-fill mt-3 mr-2">
                            <div class="form-group pb-4">
                                <input id="case" asp-for="Email" class="form-control" placeholder="Email" />
                                <i class="fas fa-check-circle fa-2x"></i>
                                <i class="fas fa-exclamation-circle fa-2x"></i>
                                <span asp-validation-for="Email" class="form-error__message"></span>
                            </div>
                            <div class="form-group pb-4">
                                <input id="case" type="password" asp-for="Password" class="form-control" placeholder="Пароль" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <span asp-validation-for="Password" class="form-error__message"></span>
                            </div>
                        </div>

                        <div class="form-group mt-3 ml-2 pb-4">
                            <input type="submit" value="Войти" class="login-button btn btn-dark btn-primary h-100" />
                        </div>
                    </div>

                    <div class="text-dark mb-2 ml-1 pb-2">
                        <a class="reset-button text-dark" href="#">
                            <u>Забыли пароль?</u>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

@section Footer{
    <footer class="text-center footer-team pb-2">
        <div>© 2021 WebDevTeam4Study</div>
    </footer>
}

@section Scripts{
     <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section Styles{
     <link rel="stylesheet" href="~/css/AuthForms.css" asp-append-version="true" />
}
